body {
  margin: 0 0 0 0;
  padding: 2em 2em 2em 2em;
  font-family: verdana,arial,helvetica,san-serif;
  font-size: 1.2vw;
  background-color: #000000;
}

#menu {
	list-style:none;
}
img {
	position:absolute;
	left:100px;
	top:100px;
}
/*img:hover {height:200px;width:400px;}*/

.turn {
	position:absolute;
	left:300px;
	top:300px;
}